.date-filter-container {
    float: left; 
    width: 50%; 
    position: absolute; 
    z-index:1000;
}

div.dt-buttons {
	float: right;
}

table td {
    border-top: none;
}

.none {
	display: none;
}

.banner {
    background: #0e1c2c;
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 2px 20px;
    z-index: 9999;
}

.banner img {
    height: 40px;
}

.main-container {
    margin:80px 20px;
}

@media (max-device-width: 1430px) {
    #date-filter-title {
        display: block;
    }
}

@media (max-device-width: 540px) {
    .date-filter-container {
        position: relative;
        display: block;
        width: auto;
        margin-bottom: 0;
    }
    div.dt-buttons,
    .dtsp-panesContainer,
    div.dataTables_length,
    div.dataTables_filter {
        display: none;
    }
    /* div.dataTables_length,
    div.dataTables_filter {
        float: right !important;
    } */

    #date-filter-title {
        display: block;
    }
    #min, #max, #location-filter {
        width: 95%;
    }

    .banner {
        height: 30px;
        padding: 3px 10px;
    }

    .banner img {
        height: 20px;
    }
    
    .main-container {
        margin:50px 20px;
    }

}